body{background-color: rgb(199, 237, 150);}

header{color: rgb(0, 255, 8);
background-color: black;
padding: 25px;
font-size: 25px;
font-family:Georgia;
text-align: center;
}

h1{
    color: rgb(15, 90, 15);
    text-align: center;
}
p{
    font-size: 25px;
    padding: 35px;}

.filme{background-color: red;}

.filme{
    background: rgb(105, 219, 137);
  padding: 60px;
  display: flex;
  justify-content: center;
  }
  
  img{width: 25%;
    padding: 20px;}

.series{
display: flex;
  justify-content: space-around; 
  
  width: 100%;
  

}    
